<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RetrieveAllServlet</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.RetrieveAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForm</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.UpdateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderForm</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.OrderForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateForm</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.CreateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveByIdServlet</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.RetrieveByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveByIdForm</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.RetrieveByIdForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForm</servlet-name>
        <servlet-class>gr.uniwa.bookshop.servlets.DeleteForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveAllServlet</servlet-name>
        <url-pattern>/RetrieveAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForm</servlet-name>
        <url-pattern>/UpdateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderForm</servlet-name>
        <url-pattern>/OrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateForm</servlet-name>
        <url-pattern>/CreateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveByIdServlet</servlet-name>
        <url-pattern>/RetrieveByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveByIdForm</servlet-name>
        <url-pattern>/RetrieveByIdForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForm</servlet-name>
        <url-pattern>/DeleteForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
